.btn {
    margin-left: 10px;
}

.form-control {
    max-height: 50px;
}


/* .fondo-cabecera{
   background-image:  ;
} */

.nav-link {
    cursor: pointer;
}

.bg-primary {
    background-color: #ffffff !important;
    box-shadow: 1px 0px 10px 2px rgba(106, 109, 115, 0.39);
    -webkit-box-shadow: 1px 0px 10px 2px rgba(106, 109, 115, 0.39);
    -moz-box-shadow: 1px 0px 10px 2px rgba(106, 109, 115, 0.39);
}

.text-primary a {
    color: rgb(0, 0, 0) !important;
}

.text-primary a:hover {
    text-decoration: underline;
}

.text-dark:hover {
    text-decoration: underline;
}
